# GROW ROOM DASHBOARD

In [13]:
import pandas as pd

from dash import Dash, html

In [20]:
path = './data'
data = pd.read_csv(f'{path}/sample_greenhouse_data.csv', sep=';')

In [21]:
data.head(1)

,id,greenhous_temperature_celsius,greenhouse_humidity_percentage,greenhouse_illuminance_lux,online_temperature_celsius,online_humidity_percentage,greenhouse_total_volatile_organic_compounds_ppb,greenhouse_equivalent_co2_ppm,created
0,361496,"13,22325653500027","68,05557590060764",0,"7,300000190734863",89.0,370,"1080,4444444444443",2021-03-03 20:10:04

In [22]:
data.describe()

                 id  online_humidity_percentage
count  1.756200e+04                17556.000000
mean   7.872994e+05                   73.819606
std    2.431257e+05                   17.846849
min    3.614960e+05                   18.000000
25%    5.829370e+05                   60.000000
50%    7.870225e+05                   77.000000
75%    9.943175e+05                   89.000000
max    1.206788e+06                  100.000000

In [16]:
app = Dash("GROW ROOM")

app.layout = html.Div([
    html.Div(children='Hello World')
])

In [17]:
app