# GROW ROOM DASHBOARD

In [1]:
import pandas as pd

from dash import Dash, html

In [2]:
path = './data'
data = pd.read_csv(f'{path}/sample_greenhouse_data.csv', sep=';')

In [3]:
data.head(1)

,id,greenhous_temperature_celsius,greenhouse_humidity_percentage,greenhouse_illuminance_lux,online_temperature_celsius,online_humidity_percentage,greenhouse_total_volatile_organic_compounds_ppb,greenhouse_equivalent_co2_ppm,created
0,361496,"13,22325653500027","68,05557590060764",0,"7,300000190734863",89.0,370,"1080,4444444444443",2021-03-03 20:10:04

In [4]:
data.rename(columns=lambda x: x.replace('_', ' '), inplace=True)
# Data wrangling
data = data.map(lambda x: str(x).replace(',', '.') if ',' in str(x) else x)
data['datetime'] = pd.to_datetime(data['created'])
data = data.drop('created', axis=1)

In [5]:
cols_to_convert = []
dtypes = {'col':[],'dtype':[]}
for col in data.columns:
    dtype = data[col].dtype
    dtypes['col'].append(col)
    dtypes['dtype'].append(dtype)
    if dtype == 'object':
        cols_to_convert.append(col)

pd.DataFrame(dtypes)

                                               col           dtype
0                                               id           int64
1                    greenhous temperature celsius          object
2                   greenhouse humidity percentage          object
3                       greenhouse illuminance lux          object
4                       online temperature celsius          object
5                       online humidity percentage         float64
6  greenhouse total volatile organic compounds ppb          object
7                    greenhouse equivalent co2 ppm          object
8                                         datetime  datetime64[ns]

In [6]:
cols_to_convert

['greenhous temperature celsius',
 'greenhouse humidity percentage',
 'greenhouse illuminance lux',
 'online temperature celsius',
 'greenhouse total volatile organic compounds ppb',
 'greenhouse equivalent co2 ppm']

In [7]:
for col in cols_to_convert:
    data[col] = data[col].astype(float)

In [8]:
data.describe()

,id,greenhous temperature celsius,greenhouse humidity percentage,greenhouse illuminance lux,online temperature celsius,online humidity percentage,greenhouse total volatile organic compounds ppb,greenhouse equivalent co2 ppm,datetime
count,1.756200e+04,17164.000000,17164.000000,17164.000000,17556.000000,17556.000000,17164.000000,17164.000000,17562
mean,7.872994e+05,25.874693,52.910666,3722.243705,11.051823,73.819606,979.560729,1219.092382,2021-05-03 20:23:09.078692608
min,3.614960e+05,4.972237,15.313954,0.000000,-4.900000,18.000000,0.000000,400.000000,2021-03-03 20:10:04
25%,5.829370e+05,14.951478,45.488623,0.000000,5.900000,60.000000,463.500000,424.000000,2021-04-03 08:52:34.500000
50%,7.870225e+05,24.121462,55.613870,901.327778,10.300000,77.000000,631.222222,985.950000,2021-05-03 20:35:09
75%,9.943175e+05,31.744516,63.771343,5239.600000,15.400000,89.000000,1161.825000,1385.925000,2021-06-03 08:17:32
max,1.206788e+06,77.566312,82.900305,36489.333333,32.299999,100.000000,13114.100000,18113.400000,2021-07-03 20:00:11
std,2.431257e+05,13.038214,13.079384,5738.124414,6.709216,17.846849,1058.758275,1234.655687,NaN

In [9]:
data.to_csv('./data/sample_greenhouse_data_clean.csv')

In [10]:
data.columns

Index(['id', 'greenhous temperature celsius', 'greenhouse humidity percentage',
       'greenhouse illuminance lux', 'online temperature celsius',
       'online humidity percentage',
       'greenhouse total volatile organic compounds ppb',
       'greenhouse equivalent co2 ppm', 'datetime'],
      dtype='object')